<div class="container-fluid inspiration-section text-center">
  <div class="row">
    <div class="col-3"></div>

    <div class="col-6 apiArea">

      <h3>Buscas inspiración?</h3>
      <!-- <h5>Espacio + personaje + acción u conflicto</h5> -->
      <button (click)="getVideo()" class="btn btn-outline-light">SÍ</button>

      <div *ngIf="videoUrl != ''">
        <video autoplay loop>
          <source src= {{videoUrl}} type="video/mp4" />
        </video>
     </div>

      
    </div>

    <div class="col-3"></div>
  </div>
</div>
