<div class="container-fluid">
  <div class="row">
    <div *ngFor="let item of unfinishedTexts" class="col-12 col-md-4">
      <div class="card p-3 m-3">
        <p class="hiddenSentence">
          {{ item.sentences[item.sentences.length - 1].sentence }}
        </p>
        <h2 id="words">
          <strong>{{ item.sentences | words }}</strong>
        </h2>
        <p>Categoría: {{ item.category }}</p>
        <p>A {{ 4 - item.sentences.length }} de terminar</p>
        <button [routerLink]="['/texts/edit', item.id]" class="btn btn-outline-dark hover-zoom mt-2">
          Continuar escribiendo
        </button>
      </div>
    </div>
  </div>
</div>
