nav {
  background-color: black;
}

.navbarSupportedContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

a,
p,
span {
  color: #fbfbfb;
}

.sections-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
}

.login-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content: center;
  margin-top: 0.3rem;
}
