nav {
  background-color: black;
}

#navbarSupportedContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 18px;
  letter-spacing: 1px;
}

a,
p,
span {
  color: #fbfbfb;
  text-decoration: none;
}

a:active,
a:focus,
a:hover {
  color: #fbfbfb;
  outline: none;
  text-shadow: 5px 5px 15px #fff;
}

.sections-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
}

.login-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content: center;
  margin-top: 0.5rem;
}

@media (max-width: 768px) {

  .sections-nav {
    flex-direction: column;
    text-align: left;
  }

  .login-nav {
    flex-direction: column;
    text-align: center;
  }
}
