<!-- Button trigger modal -->
<!-- <a data-toggle="modal" data-target="#exampleModal" class="pointer">
  Haz olvidado tu contraseña? Haz click <strong>aquí</strong>.
</a> -->

<!-- Modal -->
<!-- <div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content p-4">
      <form [formGroup]="passwordForm" (ngSubmit)="checkAuth()">
        <div class="mb-3">
          <label for="inputEmail" class="form-label"
            >Ingresa tu correo electrónico</label
          >
          <input
            type="email"
            class="form-control"
            id="inputEmail"
            formControlName="userEmail"
          />
        </div>
        <div class="mb-3">
          <label for="inputPassword" class="form-label"
            >Escribe tu nueva contraseña</label
          >
          <input
            type="password"
            class="form-control"
            id="inputPassword"
            formControlName="userfirstTrypassword"
          />
        </div>
        <div class="mb-3">
          <label for="inputPassword" class="form-label"
            >Repite tu nueva contraseña</label
          >
          <input
            type="password"
            class="form-control"
            id="inputPassword"
            formControlName="userSecondTrypassword"
          />
        </div>
        <button type="button" class="btn btn-secondary me-2" data-dismiss="modal">
          Cerrar
        </button>
        <button type="submit" class="btn btn-primary">Guardar cambios</button>
      </form>
    </div>
  </div>
</div>
 -->