.filter-section {
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-image: url("src\assets\white-brush2.png");
  background-size: 85rem 15rem;
  background-position-y: center;
  background-position-x: center;
  background-repeat: no-repeat;
}

.archive {
  min-width: 100vw;
  min-height: 100vh;
}

.archive.present {
  background-image: url("src\assets\sol.jpg");
  background-size: cover;
}

.archive.past {
  background-image: url("src\assets\lluvia.jpg");
  background-size: cover;
}

.archive.future {
  background-image: url("src\assets\noche.jpg");
  background-size: cover;
}

h5 {
  margin-right: 3rem;
  font-family: "SF Mono", sans-serif;
}

a {
  cursor: pointer;
  font-size: x-large;
  margin-right: 5%;
}

img {
  width: 100px;
  filter: grayscale(100%);
}

img:hover {
  filter: grayscale(100%) contrast(175%);
}

.text {
  border: 5px solid rgb(160, 154, 154);
  font-size: large;
  padding: 1em;
  color: aliceblue;
  background-color: black;
}
