<div
  class="container archive"
  [class.present]="filterStyle === 1"
  [class.past]="filterStyle === 2"
  [class.future]="filterStyle === 3"
>
  <div class="row">
    <div class="filter-section">
      <h5>Filtrar por relatos del:</h5>
      <a (click)="filterPresent()">
        <img src="../../assets/sol.png" id="sun" /><br />Presente</a
      >
      <a (click)="filterPast()"
        ><img src="../../assets/nube.png" id="cloud" /><br />Pasado</a
      >
      <a (click)="filterFuture()"
        ><img src="../../assets/luna.png" id="moon" /><br />Futuro</a
      >

      <a (click)="deleteFilter()" id="quit-btn"
        ><img src="../../assets/anular.png" /><br />
        Siempre</a
      >
    </div>
  </div>

  <ng-template [ngIf]="filter">
    <div *ngFor="let text of filteredTextsList" class="col-3 ms-5">
      <div class="card p-3 mt-2">
        <p class="card-text">{{ text.sentences | texts }}</p>
      </div>
    </div>
  </ng-template>

  <ng-template [ngIf]="!filter">
    <div class="row mb-5 mt-2">
      <div *ngFor="let text of finalTextsList" class="col-3 ms-5">
        <div class="card p-3 mt-2">
          <p class="card-text">{{ text.sentences | texts }}</p>
          <ng-template [ngIf]="adminSession">
            <button class="btn btn-danger" (click)="deleteText(text.id)">
              Eliminar texto
            </button>
          </ng-template>
        </div>
      </div>
    </div>
  </ng-template>
</div>
