.filter-section {
  margin-top: 3rem;
  margin-bottom: 3rem;
  /* margin-left: -20px; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* background: rgba(228, 219, 219, 0.658); */
  background-image: url("src\assets\white-brush2.png");
  background-size: 85rem 10rem;
  background-position-y: center;
  background-position-x: center;
  background-repeat: no-repeat;
}

.archive {
  min-width: 100vw;
  min-height: 100vh;
}

.archive.present {
  background-image: url("src\assets\sol.jpg");
  background-size: cover;
 
/*   background: linear-gradient(
    45deg,
    rgba(7, 7, 7, 0.123) 12.5%,
    #fff 12.5%,
    #fff 37.5%,
    rgba(7, 7, 7, 0.123) 37.5%,
    rgba(7, 7, 7, 0.123) 62.5%,
    #fff 62.5%,
    #fff 87.5%,
    rgba(7, 7, 7, 0.123) 87.5%
  );
  background-size: 100px 100px;
  background-position: 50px 50px; */
}

.archive.past {
  background-image: url("src\assets\lluvia.jpg");
  background-size: cover;
/*   background: linear-gradient(
    0deg,
    rgba(7, 7, 7, 0.123) 12.5%,
    #fff 12.5%,
    #fff 37.5%,
    rgba(7, 7, 7, 0.123) 37.5%,
    rgba(7, 7, 7, 0.123) 62.5%,
    #fff 62.5%,
    #fff 87.5%,
    rgba(7, 7, 7, 0.123) 87.5%
  );
  background-size: 80px 80px;
  background-position: 50px 50px; */
}

.archive.future {
  background-image: url("src\assets\noche.jpg");
  background-size: cover;
/*   background: linear-gradient(
    -30deg,
    rgba(7, 7, 7, 0.123) 12.5%,
    #fff 12.5%,
    #fff 37.5%,
    rgba(7, 7, 7, 0.123) 37.5%,
    rgba(7, 7, 7, 0.123) 62.5%,
    #fff 62.5%,
    #fff 87.5%,
    rgba(7, 7, 7, 0.123) 87.5%
  );
  background-size: 100px 58px;
  background-position: 50px 50px; */
}

#quit-btn {
  font-size: 20px;
}

a {
  cursor: pointer;
  font-size: x-large;
  margin-right: 5%;
}

img {
  width: 100px;
  filter: grayscale(100%);
}

.text {
  border: 5px solid rgb(160, 154, 154);
  font-size: large;
  padding: 1em;
  color: aliceblue;
  background-color: black;
}
