<!-- 
<div class="history-page p-3 text-center rounded-3">
  <div class="mask mt-5 ms-4 me-4" style="background-color: rgba(0, 0, 0, 0.6)">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="text-white">
        <h5 class="mt-4 p-3">La técnica de escribir cadáveres exquisitos fue inventada por los surrealistas Yves Tanguy, Jacques Prévert, André Breton y Marcel Duchamp en el París de 1925. El nombre 'cadavre exquis' derivó de una frase que resultó cuando jugaron por primera vez: 'le cadavre exquis boira le vin nouveau' ('el cadáver exquisito beberá el vino nuevo').</h5>
      </div>
    </div>
  </div>
</div> -->
