<div class="container">
  <div class="row">
    <div class="col-4 ms-2">
      <form [formGroup]="newUserForm" (ngSubmit)="createNewUser()">
        <div class="mb-3">
          <label for="inputName" class="form-label">Nombre</label>
          <input type="text" class="form-control" id="inputName" formControlName="newUserName"/>
        </div>
        <div class="mb-3">
          <label for="inputEmail" class="form-label"
            >Correo electrónico</label
          >
          <input
            type="email"
            class="form-control"
            id="inputEmail"
            aria-describedby="emailHelp"
            formControlName="newUserEmail"
          />
          <div id="emailHelp" class="form-text">
            Nunca compartiremos tu correo con nadie más.
          </div>
        </div>
        <div class="mb-3">
          <label for="inputPassword" class="form-label">Contraseña</label>
          <input
            type="password"
            class="form-control"
            id="inputPassword"
            formControlName="newUserPassword"
          />
        </div>
        <button type="submit" class="btn btn-outline-dark">Guardar</button>
      </form>
    </div>
  </div>
</div>
