<div class="container">
  <div class="row">
    <div class="col-4 ms-2">
      <form
        [formGroup]="newUserForm"
        (ngSubmit)="createNewUser()"
        #myForm="ngForm"
      >
        <div class="mb-3">
          <label for="inputName" class="form-label">Nombre</label>
          <input
            type="text"
            class="form-control"
            id="inputName"
            formControlName="newUserName"
          />
          <span class="form-error text-danger" *ngIf="invalid('newUserName')">
            Ingresa un nombre válido
          </span>
        </div>
        <div class="mb-3">
          <label for="inputEmail" class="form-label">Correo electrónico</label>
          <input
            type="email"
            class="form-control"
            id="inputEmail"
            aria-describedby="emailHelp"
            formControlName="newUserEmail"
          />
          <span class="form-error text-danger" *ngIf="invalid('newUserEmail')">
            Ingresa un correo válido
          </span>
          <div id="emailHelp" class="form-text">
            Nunca compartiremos tu correo con nadie más.
          </div>
        </div>
        <div class="mb-3">
          <label for="inputPassword" class="form-label">Contraseña</label>
          <input
            type="password"
            class="form-control"
            id="inputPassword"
            formControlName="newUserPassword"
          />
          <span
            class="form-error text-danger"
            *ngIf="invalid('newUserPassword')"
          >
            La contraseña debe tener un mínimo de 4 caracteres
          </span>
        </div>
        <button
          type="submit"
          class="btn btn-outline-dark"
          [disabled]="!myForm.form.valid"
        >
          Guardar
        </button>
      </form>
    </div>
    <div class="col-6">
      <img src="../../assets/perritos.jpg" />
    </div>
  </div>
</div>
