<div class="container-fluid home-page-container">
  <div class="hero-section">
    <div class="row">
      <div class="col-4">
      </div>
      <div class="col-4">
        <div class="square">
          <h5>Escritura surreal llena de</h5>
          <h1>cadáveres exquisitos</h1>
        </div>
      </div>
      <div class="col-4"></div>
    </div>
  </div>

  <div class="info-section container">
    <img src="../../assets/vaca.png" style="width: 10rem" id="first-img" />
    <img src="../../assets/vaca.png" style="width: 10rem" id="second-img" />

    <div class="item" role="button" tabindex="0">
      <p>1</p>
      <div class="content-title">
        <h5>Qué es un cadáver exquisito?</h5>
        <p>➝</p>
      </div>
      <p>
        Everything in the solar system is constantly moving. Astrology describes
        our lived experience in the context of this motion.
      </p>
    </div>
    <div class="item" role="button" tabindex="0">
      <p>1</p>
      <div class="content-title">
        <h5>Qué es un cadáver exquisito?</h5>
        <p>➝</p>
      </div>
      <p>
        Everything in the solar system is constantly moving. Astrology describes
        our lived experience in the context of this motion.
      </p>
    </div>
    <div class="item" role="button" tabindex="0">
      <p>1</p>
      <div class="content-title">
        <h5>Qué es un cadáver exquisito?</h5>
        <p>➝</p>
      </div>
      <p>
        Everything in the solar system is constantly moving. Astrology describes
        our lived experience in the context of this motion.
      </p>
    </div>
    <div class="item" role="button" tabindex="0">
      <p>1</p>
      <div class="content-title">
        <h5>Qué es un cadáver exquisito?</h5>
        <p>➝</p>
      </div>
      <p>
        Everything in the solar system is constantly moving. Astrology describes
        our lived experience in the context of this motion.
      </p>
    </div>
    <img src="../../assets/firulete.png" id="firulete"/>
  </div>
</div>
