<div class="container-fluid home-page-container">
  <div class="hero-section">
    <div class="row">
      <div class="col-5">
        <video poster="../../../assets/foto.png" autoplay loop>
          <source src="../../../assets/maya_3.mp4" type="video/mp4" />
        </video>
      </div>
      <div class="col-6">
        <div class="square">
          <h5>Escritura surrealista y colectiva de</h5>
          <h1>cadáveres exquisitos</h1>
        </div>
        <h4>¿Recuerdas el juego aquel?</h4>
      </div>
      <!-- <div class="col-2">
      </div> -->
    </div>
  </div>

  <div class="welcome-section container text-center">
    <div class="row">
      <h2>¿Qué es esto?</h2>
    </div>
    <div class="row" id="separator">
      <img src="../../assets/reloj.png" style="width: 10rem" id="clock"/>
      <!-- <hr class="line" /> -->
      <img src="../../assets/banana.png" style="width: 10rem" id="banana"/>
    </div>
    <div class="row">
      <h3>
        Quizás recuerdes aquel juego en el que uno escribía una oración en un
        papel, lo doblaba dejando visible solo una palabra y se lo pasaba a otra
        persona para que continue el texto.
      </h3>
      <h3>
        Esta es un aplicación web para replicar el mismo juego, creando estos
        textos entre varios usuarios.
      </h3>
    </div>
    <div class="row" id="second_separator">
      <div>
        <img src="../../assets/firulete2.png" style="width: 15rem" />
      </div>
    </div>
  </div>

  <div class="info-section container">
    <img src="../../assets/vaca.png" style="width: 10rem" id="first-img" />
    <img src="../../assets/vaca.png" style="width: 10rem" id="second-img" />

    <div class="item" role="button" tabindex="0">
      <p>1</p>
      <div class="content-title">
        <h5>Qué es un cadáver exquisito y para qué sirve?</h5>
      </div>
      <p>
        La técnica de escribir cadáveres exquisitos fue inventada por los
        surrealistas Yves Tanguy, Jacques Prévert, André Breton y Marcel Duchamp
        en el París de 1925. El nombre 'cadavre exquis' derivó de una frase que
        resultó cuando jugaron por primera vez: 'le cadavre exquis boira le vin
        nouveau' ('el cadáver exquisito beberá el vino nuevo').
      </p>
    </div>
    <div class="item" role="button" tabindex="0">
      <p>1</p>
      <div class="content-title">
        <h5>Qué es un cadáver exquisito?</h5>
        <p>➝</p>
      </div>
      <p>
        Everything in the solar system is constantly moving. Astrology describes
        our lived experience in the context of this motion.
      </p>
    </div>
    <div class="item" role="button" tabindex="0">
      <p>1</p>
      <div class="content-title">
        <h5>Qué es un cadáver exquisito?</h5>
        <p>➝</p>
      </div>
      <p>
        Everything in the solar system is constantly moving. Astrology describes
        our lived experience in the context of this motion.
      </p>
    </div>
    <div class="item" role="button" tabindex="0">
      <p>1</p>
      <div class="content-title">
        <h5>Qué es un cadáver exquisito?</h5>
        <p>➝</p>
      </div>
      <p>
        Everything in the solar system is constantly moving. Astrology describes
        our lived experience in the context of this motion.
      </p>
    </div>
    <img src="../../assets/firulete.png" id="firulete" />
    <img src="../../assets/logo it academy.png" style="width: 10rem" />
  </div>
</div>
