<div class="container-fluid home-page-container">
  <div class="hero-section p-5">
    <div class="d-flex flex-column flex-sm-row justify-content-center">
      <div class="p-3">
        <video poster="../../../assets/foto.png" autoplay loop>
          <source src="../../../assets/maya_3.mp4" type="video/mp4" />
        </video>
      </div>
      <div class="p-3">
        <div class="square">
          <h5>Escritura surrealista y colectiva de</h5>
          <h1>cadáveres exquisitos</h1>
        </div>
        <h4>¿Recuerdas el juego aquel?</h4>
      </div>
    </div>
  </div>

  <div class="welcome-section container text-center p-5">
    <div class="row">
      <h2>¿Qué es esto?</h2>
    </div>
    <div class="row" id="separator">
      <img src="../../assets/reloj.png" style="width: 10rem" id="clock" class="d-none d-lg-block"/>
      <img src="../../assets/banana.png" style="width: 10rem" id="banana" class="d-none d-lg-block"/>
    </div>
    <div class="row">
      <h4>
        Alguien comienza a escribir un texto en un papel y lo pliega ocultando todo a excepción de unas pocas palabras. La siguiente persona deberá continuar escribiendo incorporando esas palabras que quedaron al descubierto.
      </h4>
      <h5>
        Los surrealistas idearon este juego en 1925 y lo llamaron "cadáver exquisito" por lo de aunar cosas inconexas. Esto es una aplicación web para replicar ese juego de manera virtual, y aquí debajo hay más información sobre cómo funciona.
      </h5>
    </div>
    <div class="row" id="second_separator">
      <div>
        <img src="../../assets/firulete2.png" style="width: 15rem" />
      </div>
    </div>
  </div>

  <div class="info-section container">
    <img src="../../assets/vaca.png" style="width: 10rem" id="first-img" class="d-none d-lg-block"/>
    <img src="../../assets/puerta.png" style="width: 20rem" id="second-img" class="d-none d-lg-block"/>

    <div class="item" tabindex="0">
      <h5>1</h5>
      <div class="content-title">
        <h5>Crear historia</h5>
        <a href="texts/create">➝</a>
      </div>
      <p>
        En este apartado podrás iniciar un cadáver exquisito escribiendo sus primeras líneas. Quien inicia el juego puede determinar en qué tiempo se va a desarrollar la acción: pasado, presente o futuro. Quien continue el texto podrá ver las últimas dos palabras de lo que hayas escrito.
      </p>
    </div>
    <div class="item" tabindex="0">
      <h5>2</h5>
      <div class="content-title">
        <h5>Continuar historia</h5>
        <a href="current">➝</a>
      </div>
      <p>
        En este apartado podrás ver todos los textos iniciados por otros usuarios y colaborar en el que gustes. A la hora de escribir ten en cuenta el tiempo verbal definido para cada uno. Al cabo de cuatro aportes de distintos usuarios los textos se dan por finalizados. 
      </p>
    </div>
    <div class="item" tabindex="0">
      <h5>3</h5>
      <div class="content-title">
        <h5>Archivo</h5>
        <a href="archive">➝</a>
      </div>
      <p>
        Cuando un texto recibe su cuarto y último aporte, pasa a integrar automáticamente el apartado de Archivo, donde podrás ver todos los cadáveres exquisitos generados hasta el momento. Si quieres puedes filtrar los textos por categorías, que son las del tiempo de la acción.
      </p>
    </div>
    <div class="item" tabindex="0">
      <h5>4</h5>
      <div class="content-title">
        <h5>Inspirate</h5>
        <a href="history">➝</a>
      </div>
      <p>
        Si tienes ganas de escribir pero te falta una imagen de la cual partir, en este apartado podemos sugerirte algunas. 
      </p>
    </div>
    <img src="../../assets/firulete.png" id="firulete" />
    <h5>Aplicación desarrollada por:</h5>
    <h3>Rocío Marchetti</h3>
    <img src="../../assets/clock.ico" style="width: 100px" id="icono" class="mt-3"/>
  </div>
</div>
