<div class="container-fluid">
  <div class="row">
    <div class="col-2">
      <img src="../../assets/reloj.png" style="width: 10rem" id="clock" />
      <img src="../../assets/banana.png" style="width: 10rem" id="banana" />
      <img src="../../assets/ventana.png" style="width: 10rem" id="window" />
    </div>
    <div class="col-8 text-center">
      <form [formGroup]="sentenceForm" (ngSubmit)="saveSentence()">
        <div class="mb-3 p-5">
          <div class="p-3">
            <p class="hiddenSentence">{{ lastSentence }}</p>
            <h2 class="mb-4">
              <strong>{{ currentText.sentences | words }}</strong>
            </h2>
            <p>Categoría: {{ currentText.category }}</p>
            <p>A {{ 4 - currentText.sentences.length }} de terminar</p>
            <label for="inputSentence" class="form-label"
              >Continua el texto a partir de: "{{
                currentText.sentences | words
              }}"</label
            >
            <textarea
              class="form-control"
              formControlName="userSentence"
              id="inputSentence"
              rows="3"
            ></textarea>
            <button
              type="submit"
              class="btn btn-light hover-shadow hover-zoom mt-3"
            >
              Guardar
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-2">
      <img src="../../assets/vaca.png" style="width: 10rem" id="cow" />
    </div>
  </div>
</div>
